/* ===== Card container ===== */
.card-container {
  background-color: var(--cardBg);
  border: 1px solid var(--borderColor);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ===== Header ===== */

/* Tailwind override with custom class */
.custom-checkbox .ant-checkbox-inner {
  background-color: #757575; /* light cyan */
  border: none;
  border-radius: 5px;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00aeff !important; /* checked background */
  /* border-color: #0ea5e9 !important; */
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-top: 8px;
  background-color: var(--cardBg);
  padding: 4px 8px;
  border-radius: 4px;
}

.avatar-button {
  padding: 0;
}

.avatar,
.avatar-fallback {
  height: 52px;
  width: 52px;
  background-color: var(--accentColor);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* ===== Menu ===== */
.menu-content {
  width: 192px;
  background: var(--cardBg);
  border: 1px solid var(--borderColor);
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  color: var(--textColor);
}

.menu-item:hover {
  background-color: var(--hoverBg);
}

.menu-icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.logout-item {
  color: #ff4d4f;
}

/* ===== Date navigation ===== */

.date-changer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.date-navigation {
  width: fit-content;
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  background: var(--cardBg);
  border-radius: 6px;
  padding: 10px 20px;
}

.date-day {
  font-weight: 600;
  color: var(--textColor);
}

.date-full {
  font-size: 12px;
  color: var(--secondaryTextColor);
}

/* ===== Card content ===== */

.card-content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.no-tasks {
  text-align: center;
}

/* ===== Tasks list & task card ===== */
.tasks-list {
  display: flex;
  flex-direction: column;
}

.task-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.task-card.active {
  border-left-color: var(--accentColor);
  background: var(--activeBg);
}

.task-card.pending {
  border-left-color: var(--pendingColor);
  background: var(--cardBg);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.task-info {
  display: flex;
  gap: 10px;
}

.task-title {
  font-weight: 600;
  color: var(--textColor);
}

.task-time {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--mutedTextColor);
}

.clock-icon {
  margin-right: 4px;
  width: 14px;
  height: 14px;
}
